/* Add new social bar styles */
.social-bar {
    position: fixed;
    display:inline-table;
    right: -15px;
    margin: -31.5rem 0;
    transform: translateY(-50%);
    z-index: 40;
    border-radius: 8px 0 0 8px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .social-bar__item {
    padding: 10px 25px 10px 10px;
    width: 25px;
    height: 25px;
    position: relative;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
    cursor: pointer;
  }
  
  .social-bar__item:hover {
    opacity: 0.9;
    transform: translate(-15px);
  }
  
  .social-bar__instagram {
    background-color: #d12e4c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px 0 0 8px;
  }

  .social-bar__whatsapp {
    background-color: #0f8038;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px 0 0 8px;
}

@media (min-width: 162px) and (max-width: 197px) {
  .social-bar {
    display: none;
  }
}

@media screen and (max-width: 320px){
  .social-bar{
    box-shadow:none;
    padding-top: 7%;
  }
}

@media screen and (max-width: 767px){
  .social-bar{
    top: 560.25px;
  }

}
@media (min-width: 768px) and (max-width: 1024px) {
  .social-bar{
    top: 575px;
  }
}
@media screen and (max-width: 1280px){
  .social-bar{
    transform: translateY(-7px);
  }

}