.loader {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    font-size: 12px;
  }
  
  .progress {
    position: absolute;
    top: 80%; 
    width: 50%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transition: transform 1s;
    transform-origin: left;
    z-index: 10;
    margin: 0 5%;
  }
  
  @keyframes loading {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
  }
  
  .loader .progress {
    animation: loading 2s infinite;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .loader img {
      width: 156px;
      height: 156px;
    }
  
    .progress {
      width: 70%;
    }
  }